@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


*,
*::before,
*::after{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
html{ font-size:10px;}
body{
    overflow-x: hidden;
}

$col:white;
$font-family: 'Rozha One', serif;


/*nav css*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    background: black;
}

.container{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.menu-icons{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}
nav{
    width: 100%;
    height: 9.5rem;
    display: flex;
    align-items: flex-end;
}
.logo{
    width: 5rem;
    height: 5rem;
    display: flex;
    margin-right:3.89rem ;
    margin-bottom: 1rem;
}
.nav-list{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-list li{
    line-height: 4rem;
    position: relative;
}
.sub-menu li{
    margin: 1rem;
    line-height: 3rem;
}
.nav-list a{
    display: block;
    color: $col;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition:color 650ms ;
}
.nav-list a:hover{
    color:#7162d2;
}
.kosar{
    
    pointer-events: none;
}

.badge {
border: 0.1rem solid white;
padding: 0.5rem;
border-radius: 50%;
}
.btn{

    cursor: pointer;
    display: inline-block;
    background: #7162d2;
    border: 3px solid #7162d2;
    transition: transform 450ms;
}
.first{
    max-height:100vh;
    max-width: 100vw;
    overflow: hidden;
}


.sub-menu{
    background: black;
    width: 35rem;
    padding: 1.754rem;
    display: block;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}
.nav-list li:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
}
li.move-right{
    margin-left: 2rem;
    
}
ion-icon{
    line-height: initial;
    margin-left: 1rem;
}
/*nav css vége*/
@media screen and (max-width: 950px){
    
    .nav-list{
        background:black;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        opacity: 0.8;
        z-index: 1000;
    }
    .nav-list > li{
        line-height: 6rem;
    }
    .sub-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 0;
    }
    .nav-list li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    li.move-right{
        display: block;
        margin: 0 auto;
        line-height: initial;
    }
    .menu-icons{
        position: absolute;
        top: 10%;
        display: block;
    }
    .ion-md-close{
        display: none;
    }
    nav.active .ion-md-close{
        display: block;
    }
    nav.active .ion-md-menu{
        display: none;
    }
    nav.active .nav-list{
        display: flex;
    }
}
/*hero*/


.parallax{
    height: 73.5vh;
    width: auto;
    color: $col;
    font-size: 4rem;
    line-height: 3rem;
    background-image:url(http://localhost:8000/../img/estate-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    width: 100%;
    height: 40vh; 
    position: relative;
}
.parallax2{
    margin-bottom: 20rem;
    height: 70vh;
    width: 100%;
    color: $col;
    font-size: 4rem;
    line-height: 3rem;
    background-image:url(http://localhost:8000/../img/history-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contex{
    position: absolute;
    top: 15rem;
    margin-left: 40rem;
    width: 30%;
    background:black ;
    color: $col;
    padding: 10rem;
    h1{
        font-size: 4.4rem;
        padding-bottom: 1.5rem;
        display: inline-block;
        width: auto;
        margin-bottom: 2rem;
        border-bottom: 1px solid #fff;
        
    }
    h3{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        line-height: normal;
    }
    p{
        margin-bottom:1rem ;
        overflow-x: hidden;
        font-family: 'FortLight';
        font-size: 1.3rem;
        line-height: 2;
    }
    a{
     font-family: 'FortBold';
     font-size: 1.1rem;
     color: $col;
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    }
}

.split{
    display: flex;
    object-fit: cover;
    margin-bottom: 20rem;

    .text-split{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 18rem;
    
        h2{
            max-width: 21rem;
            font-size: 4.4rem;
        padding-bottom: 1.5rem;
        display: inline-block;
        width: auto;
        margin-bottom: 2rem;
        border-bottom: 1px solid #000;
        }
        p{
            max-width: 38rem;
            margin-bottom:1rem ;
        color: #767676;
        font-family: 'FortLight';
        font-size: 1.3rem;
        line-height: 2;
        }
        a{
     font-size: 1.3rem;
     color: #7162d2; //#ffba00;
     font-weight: 900;
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
        }
    }
}



@media screen and (min-width:300px){
    .parallax{
        height: 70vh;
        font-size: 2rem;
        line-height: 3rem;
        background-image:url(http://localhost:8000/../img/estate-header.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .white{
        width: 100%;
        height: 100vh; 
    }
}
    .parallax2{
        margin-bottom: 8rem;
        height: 70vh;
        width: 100%;
        color: $col;
        font-size: 4rem;
        line-height: 3rem;
        background-image:url(http://localhost:8000/../img/history-parallax.jpg);
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contex{
        position: absolute;
        top: 6rem;
        margin-left: 9%;
        width: 80%;
        background:black ;
        color: $col;
        padding: 3rem;
        h1{
            font-size: 2.2rem;
            padding-bottom: 1.5rem;
            display: inline-block;
            width: auto;
            margin-bottom: 2rem;
            border-bottom: 1px solid #fff;
            
        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            line-height: normal;
        }
        p{
            margin-bottom:1rem ;
            overflow-x: hidden;
            font-size: 1.3rem;
            line-height: 1.6;
        }
        a{
         font-family: 'FortBold';
         font-size: 1.1rem;
         color: $col;
        cursor: pointer;
        display: inline;
        margin-top: 25px;
        margin-bottom: 15px;
        width: max-content;
        text-transform: uppercase;
        }
    }
    .split{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20rem;
    .kep{
        background-image:url(http://localhost:8000/../img/winery.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:23rem;
       
    }
        .text-split{
            order: -1;
            display: flex;
            width: 60%;
            justify-content: center;
            flex-direction: column;
            margin: 1rem ;
            margin-inline: auto;
        
            h2{
                font-size: 2.2rem;
            padding-bottom: 1.5rem;
            display: inline-block;
            width: max-content;
            margin-bottom: 2rem;
            border-bottom: 1px solid #000;
            }
        
            p{
                margin-bottom:1rem ;
                overflow-x: hidden;
                width: auto;
                font-size: 1.3rem;
                line-height: 1.6;
            }
            a{
         font-size: 1.3rem;
         color: #7162d2; //#ffba00;
         font-weight: 900;
        cursor: pointer;
        display: inline-block;
        margin-top: 25px;
        line-height: 1;
        margin-bottom: 15px;
        width: max-content;
        text-transform: uppercase;
            }
        }
    }
    .next-2{
        width: max-content;
        position: relative;
    }
    .read{
        position: relative;
        top: 0.7rem;
        left: 2rem;
        height: 24px;
        width: 12px;
    }
   .no2{
       margin-top: -10rem;
   }
    .text{
        position: relative;
        margin: -2rem auto;
        padding: 3rem;
        width: 70%;
      
        h2{

            color: #ebe9eb;
            font-size: 2.2rem;
        padding-bottom: 1.5rem;
        display: inline-block;
        width: max-content;
        margin-bottom: 2rem;
        border-bottom: 1px solid #fff;
        }
    
        p{
            color:#ebe9eb;
            margin-bottom:1rem ;
            overflow-x: hidden;
            width: auto;
            font-size: 1.3rem;
            line-height: 1.6;
        }
        
        background-color:#8969d4 ;
    }
    .ter{
       
        
        background-image:url(http://localhost:8000/../img/territory.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:15rem;
    }
    .gif{
        width: 100%;
        margin:10rem 0;
        margin-bottom: 10rem;
        text-align: center;
        background-color: #8969d4;
        h3{
           
        color: #ebe9eb;
        font-size: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #fff;
        }
        p{
            padding: 1.75rem;
            color:#ebe9eb;
            overflow-x: hidden;
            width: auto;
            font-size: 1.6rem;

        }
        span{
                font-weight: bolder;
        }
    }
    .leir{
        .mad{
            height: 11rem;
            position: absolute;
            top: 0;
            left: -3rem;
        }
        .tropi {
            height: 3rem;
            width: 3rem;
            position: relative;
            top: 4rem;
            
        }
        position: relative;
        background:#ebe9eb;
        width: calc(100% - 5rem);
        padding-left: 5.5rem;
        margin-inline: auto;
        margin-bottom: 100px;
        padding-right: 20px;
        .inner-leir{
            padding: 5rem 0;
            h3{
                font-size: 2rem;
                line-height: 1;
                padding-bottom: 2.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid #000;
              }
              p{
                  color:#767676;
                  font-size: 1rem;
                  letter-spacing: 3px;
                  line-height: 1.75;
              }
              .csom{
                margin-bottom: 1.5rem;}
              a{
                  font-size: 1rem;
                  color: #7162d2; //#ffba00;
                  font-weight: 900;
                 cursor: pointer;
                 display: inline-block;
                 margin-top: 25px;
                 line-height: 1;
                 letter-spacing: 3px;
                 margin-bottom: 15px;
                 width: max-content;
                 text-transform: uppercase;
                 .read2{
                    position: relative;
                    top: 0.3rem;
                    left: 1.5rem;
                    height: 14px;
                    width: 8px;
                            }
              }
                            .add{
                                background-color: #8a69d4;
                            border: none;
                            color: #fff;
                            font-size: 1rem;
                            text-align: center;
                            letter-spacing: 2px;
                            height: 24px;
                            line-height: normal;
                            border-radius: 24px;
                            text-transform: uppercase;
                                    }
                                label{
                                    font-family: $font-family;
                                    font-size: 1.9rem;
                                    font-weight: bolder;
                                        }
                                    #bor1{
                                        text-align: center;
                                        border: none;
                                        margin-right: 2rem;
                                        width: 3rem;
                                        height: 2.4rem;
                                            }
            }
        
    }
    .leir2{
        .mad2{
            height: 15rem;
            position: absolute;
            top: -2rem;
            left: -2rem;
        }
        .tropi2 {
            height: 3rem;
            width: 3rem;
            position: relative;
            top: 4rem;
            
        }
        position: relative;
        background:#ebe9eb;
        width: calc(100% - 4rem);
        padding-left: 7.5rem;
        margin-inline: auto;
        margin-bottom: 100px;
        padding-right: 20px;
        .inner-leir2{
            padding: 5rem 0;
            h3{
                font-size: 2rem;
                line-height: 1;
                
              }
              .line{padding-bottom: 2.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid #000;}
             
              p{
                  color:#767676;
                  font-size: 0.886rem;
                  letter-spacing: 3px;
                  line-height: 1.75;
                  
              }
    
              a{
                  font-size: 1rem;
                  color: #7162d2; //#ffba00;
                  font-weight: 900;
                 cursor: pointer;
                 display: inline-block;
                 margin-top: 25px;
                 line-height: 1;
                 letter-spacing: 3px;
                 margin-bottom: 15px;
                 width: max-content;
                 text-transform: uppercase;
                 .read3{
                    position: relative;
                    top: 0.3rem;
                    left: 1.5rem;
                    height: 14px;
                    width: 8px;
                            }
              }
                            .add2{
                                background-color: #8a69d4;
                            border: none;
                            color: #fff;
                            font-size: 1rem;
                            text-align: center;
                            letter-spacing: 2px;
                            height: 24px;
                            line-height: normal;
                            border-radius: 24px;
                            text-transform: uppercase;
                                    }
                                label{
                                    font-family: $font-family;
                                    font-size: 1.9rem;
                                    font-weight: bolder;
                                        }
                                    #bor2{
                                        text-align: center;
                                        border: none;
                                        margin-right: 2rem;
                                        width: 3rem;
                                        height: 2.4rem;
                                            }
            }
    }

/*hero vége*/